

* {
    font-family: 'Inter Tight',Helvetica, sans-serif;
}



.banner {
    position:sticky !important;
    top: 0px;
}

table {
    border: 8px solid rgb(179, 0, 66);
    border-collapse: collapse;
}
.topic{
    margin-left: 24px;
    margin-right: 24px;
}
.subtitle {
    width: auto;
    background-color: aqua;
    padding: 8px 16px;
}
.subtopic-content {
    width:auto;
    display: flex;
}
.subtopic-descriptor {
    background-color: antiquewhite;
    max-width: 240px;
    display: inline-block;
    border-right: 8px white solid;
    padding-left: 16px;
    padding-right: 16px;
}
.subtopic-demo {
    background-color: #FFF;
    width: 100%;
    display:inline-block;
    padding-left: 16px;
    padding-right: 16px;
    overflow: scroll;
    max-height: 320px;
}
.innerbox {
    height:60px;
    padding: 4px 8px;
}

.innerbox a {
    color: black;
}
#box8 a,#box10 a, #box22 a,#box37 a,#box38 a, #box61 a, #box87 a, #box89 a, #box97 a, #box102 a{
    color:white;
}

.colornamespan {
    padding: 4px 0px;
}
.colorhexspan {
    padding: 4px 0px;
    font-weight: bold;
}

.vertical-header {
    background-color: rgb(255, 83, 3);
}
.overlap {
    background-color: rgb(255,42,55);
}

.table-head {
    background-color: rgb(255, 0, 106);
}
.overall-header {
    background-color: rgb(217,0,86);
}
th {
    padding: 8px;
    color:blanchedalmond;
}

tfoot {
    font-weight: 600;
    padding:16px;
    color:black;
    background-color: rgb(255, 127, 180);
}
tfoot .td {
    color: black;
}
td {
    padding: 8px;
    font-weight: 400;
    color:indigo;
}

.banner {
    background-color: rgb(255, 199, 130);
}

div h5 {
    display: inline-block;
    color:rgb(179, 0, 66);
    padding: 4px 36px;
}

div a {
    color:rgb(179, 0, 66);
    text-decoration: none;
}

h2 {
    background-color: bisque;
    padding: 16px 24px;
    color:rgb(179, 0, 66);
}

header {
    color: rgb(179,0,66);
}

#top-button {
    position: fixed !important;
    bottom: 40px;
    right: 40px;
    background-color: gold;
    padding: 8px;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
#top-button a{
    padding-right: 8px;
}


#up-arrow {
    padding: 4px 8px;
    color: rgb(179, 0, 66)
}
