

* {
    font-family: 'Inter Tight',Helvetica, sans-serif;
}



.banner {
    position:sticky !important;
    top: 0px;
}

table {
    border: 8px solid rgb(179, 0, 66);
    border-collapse: collapse;
}
.vertical-header {
    background-color: rgb(255, 83, 3);
}
.overlap {
    background-color: rgb(255,42,55);
}

.table-head {
    background-color: rgb(255, 0, 106);
}
.overall-header {
    background-color: rgb(217,0,86);
}
th {
    padding: 8px;
    color:blanchedalmond;
}

tfoot {
    font-weight: 600;
    padding:16px;
    color:black;
    background-color: rgb(255, 127, 180);
}
tfoot .td {
    color: black;
}
td {
    padding: 8px;
    font-weight: 400;
    color:indigo;
}

.banner {
    background-color: rgb(255, 199, 130);
}

div h5 {
    display: inline-block;
    color:rgb(179, 0, 66);
    padding: 4px 36px;
}

div a {
    color:rgb(179, 0, 66);
    text-decoration: none;
}

h2 {
    background-color: bisque;
    padding: 16px 24px;
    color:rgb(179, 0, 66);
}

header {
    color: rgb(179,0,66);
}